<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings file="" />
    <system.webServer>
        <handlers>
            <add name="php_auth" path="*.php" verb="*" modules="AnonymousAuthenticationModule" scriptProcessor="C:\Program Files\php5.2.5\php-cgi.exe" resourceType="Unspecified" requireAccess="Read" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".php" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument enabled="true">
            <files>
                <add value="index2.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
